node_modules/
.idea/
.tmp/
coverage/
creds/

# Do not track the generated javascript and map files from typescript
outputs/**/*

src/**/*.js
src/**/*.js.map

**/.DS_Store

typings/globals/
typings/modules/

npm-debug.log
yarn.lock

# codeship key for encrypting builds
codeship.aes

# codeship deployment environment variables
deployment.env
