node_modules/
.idea/
.tmp/
coverage/
creds/

# Do not track the generated javascript and map files from typescript
outputs/**/*

**/.DS_Store

typings/globals/
typings/modules/

npm-debug.log
yarn.lock
